.valid{
    display: none;
}

.inValid{
    display: inline-block;
    margin-left: 25px;
}

#contactForm{
    max-width: 775px;
}

#contactForm, h3, h1{
    padding-left: 75px;
}

label{
    display: block;
}

input, textarea{
    width: 100%;
    color: black;
}

button{
    color: black;
}

@media screen and (max-width: 950px){
    #contactForm {
        padding-left: 30px;
        width: 90%;
    }
}