body{
  font-family:  'Nunito Sans', sans-serif;
  background-color: #234c66;
  color: #EDE6D6;
}

header.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #415a77;
  height: 150px;
  background-image: url("/5227205.jpg");
}

#headerLogo {
  display: flex;
  align-items: center;
  /* text-align: center; */
  width: 25%;
  min-width: 303px;
  height: 150px;
  margin: 0;
  padding: 0 0 0 40px;
  /* text-align: left; */
  color:#0d1b2a;
  font-size: 5.7rem;
  font-weight: 700;
  opacity: 0.8;
  background: linear-gradient(
    to top,
    rgba(64, 64, 64, 1) 0%,
    rgba(233, 232, 232, 0) 10%,
    rgba(233, 232, 232, 0) 90%,
    rgba(64, 64, 64, 1) 100%
  );
  background-color: #e0e1dd;  
}

.nav-container {
  display: flex;
  align-items: center;
  /* display: inline-block; */
  width: 75%;
}

.nav-tabs>li>a{
  color: #415a77;
  font-size: 3.5rem;
  font-weight: 700;
}

.nav>li>a:focus{
  background-color: #0d1b2a;
  color: #e0e1dd;
  border: 1px solid #e0e1dd;
  border-radius: 4px;
}

.nav>li>a:hover{
  background-color: #0d1b2a;
  color:#e0e1dd;
  opacity: 0.8;
}

#about-me-title{
  text-align: center;
  padding: 0;
  font-size: 4.5rem;
}

.footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #234c66;

}

.footerLogo{
  width: 50px;
  height: 50px;
  margin: 7px 15px;
  opacity: 77%;
}

.footerLogo:hover{
  opacity: 100%;
  transition: all 250ms ease-in;
}

@media screen and (max-width: 1230px){
  #headerLogo{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 6.5rem;
    background-color: #e0e1dd;
    height: 100px;

  }
  .nav-container{
    width: 100%;
  }
  header.header{
    height: 220px;
  }
}
